<div class="topnav">
    <img src = "/Food_Tinder.png" class = "nav_btn" alt = "logo" width = "100" height = "100">
    <h1 class="nav_title">Food Tinder</h1>
    <a href="/user/<%=id%>" class='nav_btn' >Dashboard</a>
    <a href="/api/food/1" class='nav_btn'>Swipe</a>
    <a href="/auth/logout" class='nav_btn'>Logout</a>
  </div>




