
<body>
    <script src="/JS/app.js"></script>
    <div class = "wrapper">
        <div class = "title">
            <h1>Food Tinder</h1>
        </div>
        <div class = "food_name">
            <h1><%= food %></h1>
        </div>
        <div class = swipe_image>
            <button id='up' onclick="randomPage()">Click me</button> 
            <button id='left' onclick="randomPage()">Click me</button> 
            <img id='foodpic' src= <%= url %> width = 500 height = 500>
            <button id='right' onclick="randomPage()">Click me</button> 
            <button id='down' onclick="randomPage()">Click me</button> 
        </div>
    </div>
</body>
