
<body>
    <script src="/JS/app.js"></script>
    <div class = "wrapper">
        <div class = "title">
            <h1>Food Tinder</h1>
            <img src = "/Food_Tinder.png" alt = "logo" width = "100" height = "100">
        </div>
        <div class = "food_name">
            <h1><%= food %></h1>
        </div>
        <div class = swipe_image>
            <button id='up' onclick="likeFood()">Like! :)</button> 
            <button id='left' onclick="randomPage()">Swipe away</button> 
            <img id='foodpic' src= <%= url %> width = 500 height = 500>
            <button id='right' onclick="randomPage()">Swipe away</button> 
            <button id='down' onclick="randomPage()">TO DO: RESTAURANTS</button> 
        </div>
    </div>
</body>
