<!DOCTYPE html> 
<HTML lang = 'en'>
    <head>
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "/style.css" type = "text/css">
        <script src="/JS/app.js"></script>
    <body>
        <h1><%= food %></h1>
        <button onclick="randomPage()">Click me</button> 
        <img src= <%= url %>>
    </body>
    </head>
</HTML>