<body>
    <%- include('partials/navbar')%>
    <div class="swipe">
        <div class = "wrapper">
            <div class = "title">
                <h1>It's like real Tinder, but better.</h1>
                <img src = "/Food_Tinder.png" alt = "logo" width = "100" height = "100">
            </div>
            <div class = "food_name">
                <h1 id="send_name"><%= food %></h1>
            </div>
            <div class = swipe_image>
                <button id='up' onclick="likeFood()">Like! :)</button> 
                <button id='left' class="material-icons" onclick="randomPage()">&#171</button>
                <img id='foodpic' src= <%= url %> width = 500 height = 500 draggable="false" onmousedown="return false" style="user-drag: none" >
                <button id='right' class ="material-icons" onclick="randomPage()">&#187</button>
                <button id='down' onclick="restaurantPage()">Restaurants</button> 
            </div>
        </div>
    </div>
    <script src="/JS/hammer.min.js"></script>
    <script src="/JS/app.js"></script>
</body>
