
html, body{
    background-color: #ebbcba;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.wrapper{
    display: grid;
    grid-template-rows: 100px 100px 1fr;
    grid-template-columns: 200px 1fr 1fr;  
    grid-template-areas: 
    'sidebar header .'
    'sidebar food .'
    'sidebar image .'; 
}

.wrapper > .title{
    grid-area: header;
}

.title > h1{
    text-align: center;
    color: #f90b6d;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 300;
    font-family: 'Itim', cursive;
}

.wrapper > .food_name{
    grid-area: food;
}

.food_name > h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Itim', cursive;
}

.swipe_image{
    grid-area: image;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100px auto 100px;
    grid-template-areas: 
    '.    up    .'
    'left pic   right'
    '.    down  .'; 
}

img{
    grid-area: pic;
    
}

#up{
    grid-area: up;
}

#left{
    grid-area: left;
}

#right{
    grid-area: right;
}

#down{
    grid-area: down;
}