html, body{
    background-color: #ebbcba;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.wrapper{
    display: grid;
    grid-template-rows: auto 6.5rem auto;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-areas: 
    'sidebar header .'
    'sidebar food .'
    'sidebar image .'; 
}

.wrapper > .title{
    grid-area: header;
}

.title > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title > h1{
    text-align: center;
    color: #f90b6d;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.125rem;
    font-weight: 300;
    font-family: 'Itim', cursive;
}

.wrapper > .food_name{
    grid-area: food;
}

.food_name > h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Itim', cursive;
}

.swipe_image{
    grid-area: image;
    display: grid;
    grid-template-rows: auto 500px auto;
    grid-template-columns: 100px 500px 100px;
    grid-template-areas: 
    '.    up    .'
    'left pic   right'
    '.    down  .'; 
}


.wrapper > .swipe_image > img{
    grid-area: pic;
}

#up{
    grid-area: up;
}

#left{
    grid-area: left;
}

#right{
    grid-area: right;
}

#down{
    grid-area: down;
}

.swipe_image{
    margin-left: auto;
    margin-right: auto;
}

/* CSS for list of likes page */

.header, .footer{
    height: 7vh;
    background: #b4637a;
}

.footer{
    position: absolute;
    bottom:0;
    width:100%;
    height:60px;
}


.header > .btn-primary{
    font-size: 20px;
    float: right;
    background-color: #b4637a;
    border: none;
    margin-top: 15px;
}

.header > h1{
    display: inline-block;
}

.header > img{
    display: inline-block;

}

.header > .btn-primary:hover{
    background-color: #b4637a;
}

.content{
    display: flex;
    flex-direction: column;
    height: 87%; 
}

.content > .hello_user{
    padding-top: 50px;
    padding-left: 350px;
}

.content > .list_likes{
    text-align: center;
    margin-top: 50px;
}

.content > .table_list{
    margin-left: auto;
    margin-right: auto;
    
}

.content >.table_list > table > tbody > tr > th{
    padding: 5px;
}

.content >.table_list > table > tbody > tr > td{
    padding: 5px;
}

/* Media Query */
@media screen and (max-width: 800px){
    body{
        background-color: red;
    
    }
    .wrapper{
        grid-column: auto;
        grid-template-rows: 1rem 1rem 1fr;
        grid-template-columns: 55rem 1fr 1fr;
    }
}