html, body{
    background-color: #ebbcba;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.swipe {
    margin-top: 2%;
}

.wrapper{
    display: grid;
    grid-template-rows: auto 6.5rem auto;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-areas: 
    'sidebar header .'
    'sidebar food .'
    'sidebar image .'; 
}

.wrapper > .title{
    grid-area: header;
}

.title > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title > h1{
    text-align: center;
    color: #f90b6d;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.125rem;
    font-weight: 300;
    font-family: 'Itim', cursive;
}

.wrapper > .food_name{
    grid-area: food;
}

.food_name > h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Itim', cursive;
}

.swipe_image{
    grid-area: image;
    display: grid;
    grid-template-rows: auto 500px auto;
    grid-template-columns: 100px 500px 100px;
    grid-template-areas: 
    '.    up    .'
    'left pic   right'
    '.    down  .'; 
}


.wrapper > .swipe_image > img{
    grid-area: pic;
}

button{
    background-color: #d4fcc380;
    padding: 1rem;
    border: none;
    font-size: 2rem;
}

button:hover{
    background-color: #d4fcc3a0;
}

button:active{
    background-color: #d4fcc3ff;
}

#up{
    grid-area: up;
}

#left{
    grid-area: left;
}

#right{
    grid-area: right;
}

#down{
    grid-area: down;
}

.swipe_image{
    margin-left: auto;
    margin-right: auto;
}

#myElement {
    background: silver;
    height: 300px;
    text-align: center;
    font: 30px/300px Helvetica, Arial, sans-serif;
  }

/* CSS for list of likes page */

.footer{
    height: 7vh;
    background: #b4637a;
    position: absolute;
    bottom:0;
    width:100%;
    height:60px;
}

.content{
    display: flex;
    flex-direction: column;
    height: 87%; 
}

.content > .hello_user{
    padding-top: 50px;
    padding-left: 350px;
}

.content > .list_likes{
    text-align: center;
    margin-top: 50px;
}

.content > .table_list{
    margin-left: auto;
    margin-right: auto;
    
}

.content >.table_list > table > tbody > tr > th{
    padding: 5px;
}

.content >.table_list > table > tbody > tr > td{
    padding: 5px;
}

/* CSS for login/register pages */
.auth_title {
    text-decoration: none;
    color: black;
}
.auth_title:hover {
    text-decoration: none;
    color: black;
}
/* Media Query */
@media screen and (max-width: 800px){
    body{
        background-color: red;
    
    }
    .wrapper{
        grid-column: auto;
        grid-template-rows: 1rem 1rem 1fr;
        grid-template-columns: 55rem 1fr 1fr;
    }
}

/* Style the links inside the navigation bar */
.topnav {
    background-color: #b4637a;
    display: flex;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 26px 20px;
    text-decoration: none;
    font-size: 26px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #d12254;
    color: black;
}

.nav_title {
    margin: auto;
    width: 90%;
}

/* CSS for restaurant page */
.restaurant {
    padding-left: 20px;
}